body
{
margin: 0px;
padding: 0px;
font-family: "Segoe UI", Arial;
font-size: 10pt;
background: #f0f0f0;
}

.top
{
background: #000000;
padding: 8px;
color: #ffffff;
font-family: "X360 by Redge";
font-size: 10pt;
}

/*.top span
{
display: none;
}
*/

/****** TABS ******/

.tabs
{
background: #f0f0f0;
padding: 12px 0px 2px 8px;
margin: 0px;
border-bottom: solid #d0d0d0 1px;
}

.tabs a
{
padding: 2px 10px 1px 10px;
border: solid #e0e0e0 1px;
border-bottom: solid #fafafa 1px;
background: #fafafa;
}

.tabs a.active
{
padding: 2px 10px 4px 10px;
border: solid #d0d0d0 1px;
border-top: solid #d00000 2px;
border-bottom: none;
background: #ffffff;
}

.tabs a:hover
{
border-top: solid #ce8a8a 1px;
background: #f7f7f7;
cursor: pointer;
}

.tabs a.active:hover
{
border-top: solid #d00000 2px;
background: #ffffff;
cursor: default;
}

.tabs .filters
{
display: block;
margin-top: -7px;
font-size: 8pt;
float: right;
margin-right: 5px;
padding: 3px;
color: #404040;
border: solid #f0f0f0 1px;
cursor: pointer;
}

.tabs .selected
{
color: #000000;
border: solid #30cf30 1px;
background: #50df50;
}

/****** CONTENT ******/

.main
{
background: #ffffff;
border: solid #ffffff 1px;
}

ul
{
list-style-type: none;
margin: 0px;
padding: 0px;
}

.content
{
margin: 9px;
margin-right: 0px;
display: none;
}

.content.active
{
display: block;
}

.content.tiles li
{
float: left;
border: solid #d0d0d0 1px;
height: 100px;
margin-right: 10px;
margin-bottom: 10px;
min-width: 200px;
padding: 1px;
cursor: default;
}

.content.tiles li .renter
{
background-color: #ff4949;
color: white;
padding: 0px 6px 4px 5px;
font-variant: small-caps;
border: solid #ff0000 1px;
}

.content.tiles li.notowned
{
background: #f0f0f0;
opacity: .2;
}

.content.tiles li.notreleased
{
background: #f0f0f0;
opacity: .2;
}

.content.tiles li.rented
{
background: #fff0f0;
}

.content.tiles li.completed
{
background: #f0fff0;
}

.content.tiles li.notplayed
{
background: #f0f0f0;
opacity: .75;
}

.content.tiles li.invisible
{
display: none;
}

.content.tiles li img
{
width: 73px;
height: 100px;
float: left;
padding-right: 1px;
border-right: solid #d0d0d0 1px;
margin-right: 5px;
}

.content.tiles li span
{
margin-right: 5px;
}

.content.tiles li span.id
{
display: none;
}

.content.tiles li.notreleased span.progress
{
display: none;
}

.content.tiles li.notreleased span.achievements
{
display: none;
}

.content.tiles li span.progress
{
display: block;
margin: 0px;
border: solid #909090 1px;
width: 100px;
height: 6px;
margin-left: 80px;
margin-top: 5px;
margin-bottom: 6px;
padding-right: 2px;
}

.content.tiles li span.progress .count
{
display: block;
height: 4px;
margin: 1px;
font-size: 0px;
}

.p0
{
background-color: #ff0f00;
}

.p10
{
background-color: #ff4300;
}

.p20
{
background-color: #ff7900;
}

.p30
{
background-color: #ffad00;
}

.p40
{
background-color: #ffc700;
}

.p50
{
background-color: #ffd800;
}

.p60
{
background-color: #c7e007;
}

.p70
{
background-color: #aae50b;
}

.p80
{
background-color: #72ed12;
}

.p90
{
background-color: #39f619;
}

.p100
{
background-color: #06fe20;
}

.content.tiles li span.name
{
}

/****** FOOTER ******/

.footer
{
border-top: solid #d0d0d0 1px;
padding: 5px;
clear: both;
}
